---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Poetry">
  <div class="flex justify-center items-center h-screen">
    <h1 class="text-3xl font-bold">Coming Soon</h1>
  </div>
</Layout>