.holdOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 9999px;
  background-color: #ffdbdc;
  color: #e5484d;

  clip-path: inset(0px 100% 0px 0px);
  transition: clip-path 0.2s ease-out;
}

.button {
  position: relative;
  display: flex;
  height: 40px;
  align-items: center;
  gap: 8px;
  border-radius: 9999px;
  background-color: #f6f5f5;
  padding-inline: 24px;
  font-weight: 500;
  color: #21201c;
  cursor: pointer;
  border: none;
  box-shadow: none;
}

.button:active .holdOverlay {
  clip-path: inset(0px 0px 0px 0px);
  transition: clip-path 1.5s linear;
}
