---
type Props = {
  title: string;
  description?: string;
}

const { title, description = "Siddhant Loya - Prose, Poetry and Tech" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <style>
      @import "tailwindcss";
      
      :root,
      @theme {
        --color-primary: #a6dcef;
        --bg-second: #f2eee5;
        --text-color-primary: #1b2021;
        --text-color-links: #f6ad7b;
      }

      @source inline("grid-cols-{1..30}");
      @source inline("grid-rows-{1..30}");
      @source inline("text-base");
      @source inline("cursor-pointer");
      @source inline("block");
      @source inline("hidden");


      /* 1. Use a more-intuitive box-sizing model */
      *, *::before, *::after {
        box-sizing: border-box;
      }

      /* 2. Remove default margin */
      * {
        margin: 0;
      }

      /* 3. Enable keyword animations */
      @media (prefers-reduced-motion: no-preference) {
        html {
          interpolate-size: allow-keywords;
        }
      }

      body {
        /* 4. Add accessible line-height */
        line-height: 1.5;
        /* 5. Improve text rendering */
        -webkit-font-smoothing: antialiased;
      }

      /* 6. Improve media defaults */
      img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
      }

      /* 7. Inherit fonts for form controls */
      input, button, textarea, select {
        font: inherit;
      }

      /* 8. Avoid text overflows */
      p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
      }

      /* 9. Improve line wrapping */
      p {
        text-wrap: pretty;
      }
      h1, h2, h3, h4, h5, h6 {
        text-wrap: balance;
      }

      /*
        10. Create a root stacking context
      */
      #root, #__next {
        isolation: isolate;
      }

    </style>
  </head>
  <body class="min-h-screen bg-[#a6dcef] text-[#1b2021] font-['Source_Sans_Pro',_sans-serif] m-0 p-0">
    <slot />
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.spoiler').forEach(spoiler => {
          spoiler.addEventListener('click', () => {
            spoiler.classList.toggle('revealed');
          });
        });
      });
    </script>
  </body>
</html>