---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Tech">
  <div class="flex justify-center items-center h-screen gap-4 flex-col">
    <h1 class="text-3xl font-bold">Tech Projects</h1>

    <div class="flex">
      <a href="/tech/minesweeper" class="mt-4 inline-block bg-blue-500 text-white py-2 px-4 rounded">
        Play Minesweeper
      </a>
    </div>
  </div>
</Layout>